<%/*
Template to output an invidual featured image or a set of them.
*/%>

<% if ( templateData.meta.featureImage || templateData.meta.featureImageSet ) { %>

	<div class="page-feature__wrapper">

		<% if ( templateData.meta.featureImage ) { %>
			<figure class="page-feature__img-wrapper<%= templateData.meta.disableImageTreatments ? ' no-img-treatment' : '' %>">
				<img
					class="page-feature__img"
					src="<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--banner.png?placeholder=true%26injectPlaceholder=true%26placeholderSize=500` %>"
					data-src="<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--banner.png?size=972` %>"
					data-srcset="
						<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--banner.png?size=480 480w` %>,
						<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--banner.png?size=720 720w` %>,
						<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--banner.png?size=972 972w` %>
					"
					alt="<%= templateData.meta.featureImage.alt %>"
					data-lazy-load />
				<% if ( templateData.content && templateData.content.afterFeaturedImage ) { %>
					<%- templateData.content.afterFeaturedImage() %>
				<% } %>
			</figure>
		<% } else if ( templateData.meta.featureImageSet ) { %>
			<div class="page-feature__set has-dark-bg">

				<% for ( let i = 0; i < 3; i++ ) { %>

					<% const hasImg = templateData.meta.featureImageSet[ i ]; %>

					<figure class="page-feature__img-wrapper<%= ! hasImg ? ' page-feature__img-wrapper-empty' : '' %>">
						<% if ( hasImg ) { %>
							<a
								data-lightbox-img="<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--thumb-screen${ i + 1 }.png` %>"
								class="page-feature__img-link"
								href="#">
								<img
									class="page-feature__img"
									src="<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--thumb-screen${ i + 1 }.png?placeholder=true%26injectPlaceholder=true%26placeholderSize=500` %> %>"
									data-src="<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--thumb-screen${ i + 1 }.png?size=972` %>"
									data-srcset="<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--thumb-screen${ i + 1 }.png?size=480 480w` %>,
										<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--thumb-screen${ i + 1 }.png?size=720 720w` %>,
										<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--thumb-screen${ i + 1 }.png?size=972 972w` %>"
									alt="<%= templateData.meta.featureImageSet[ i ].alt %>"
									data-lazy-load />
								<span class="page-feature__hover-bg" role="presentation"></span>
								<i class="page-feature__img-signal icon icon--circle icon--screenshot"></i>
							</a>
							<a id="<%= `lightbox-image-${ i + 1 }` %>>" class="lightbox" href="#">
								<img
									data-src="<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--screen${ i + 1 }.png?size=1200` %>"
									data-srcset="<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--screen${ i + 1 }.png?size=480 480w` %>,
										<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--screen${ i + 1 }.png?size=700 700w` %>,
										<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--screen${ i + 1 }.png?size=900 900w` %>,
										<%= `/assets/images/${ templateData.post.type }/${ templateData.meta.imageNamespace }/${ templateData.meta.imageNamespace }--screen${ i + 1 }.png?size=1200 1200w` %>"
									alt="<%= `${ templateData.meta.featureImageSet[ i ].alt } - Full screen` %>">
							</a>
						<% } else { %>
							<span class="page-feature__img-empty" role="presentation"></span>
						<% } %>
					</figure>

				<% } %>
			</div>
		<% } %>

	</div>
<% } %>
