<%- include( '../helpers/sorting' ) -%>

<div id="main-content" class="content__main">
	<div class="project-grid" role="grid">
		<% templateData.blog.forEach( project => { %>
			<% const imgTreatmentClass = project.meta.disableImageTreatments ? 'disable-img-treatment' : '' %>
			<div class="project-grid__item" role="gridcell">
				<article class="project-grid__item-wrapper">

					<a
						class="<%= buildContainerClass( [ 'project-grid__item-img-wrapper', imgTreatmentClass ] ); %>"
						href="<%= `${ templateData.site.core.siteUrl }/${ project.post.publicPath }` %>"
						tabindex="-1"
					>
						<img
							class="project-grid__item-thumb lazy"
							src="<%= `/assets/images/${ project.post.type }/${ project.meta.imageNamespace }/${ project.meta.imageNamespace }--thumb-link.png?placeholder=true%26injectPlaceholder=true%26placeholderSize=500` %>"
							data-src="<%= `/assets/images/${ project.post.type }/${ project.meta.imageNamespace }/${ project.meta.imageNamespace }--thumb-link.png?size=1600` %>"
							data-srcset="<%= `/assets/images/${ project.post.type }/${ project.meta.imageNamespace }/${ project.meta.imageNamespace }--thumb-link.png?size=480 480w` %>,
							<%= `/assets/images/${ project.post.type }/${ project.meta.imageNamespace }/${ project.meta.imageNamespace }--thumb-link.png?size=700 700w` %>,
								<%= `/assets/images/${ project.post.type }/${ project.meta.imageNamespace }/${ project.meta.imageNamespace }--thumb-link.png?size=900 900w` %>,
								<%= `/assets/images/${ project.post.type }/${ project.meta.imageNamespace }/${ project.meta.imageNamespace }--thumb-link.png?size=1200 1200w` %>,
								<%= `/assets/images/${ project.post.type }/${ project.meta.imageNamespace }/${ project.meta.imageNamespace }--thumb-link.png?size=1600 1600w` %>"
							alt="<%= project.post.title %>"
							data-lazy-load />
					</a>

					<div class="project-grid__copy-wrapper">
						<h2 class="project-grid__item-title">
							<a class="project-grid__item-title-link" href="<%= `${ templateData.site.core.siteUrl }/${ project.post.publicPath }` %>" tabindex="-1"><%= project.post.title %></a>
						</h2>
						<p class="project-grid__item-summary"><%= project.post.summary %></p>
						<a class="project-grid__item-cta" href="<%= `${ templateData.site.core.siteUrl }/${ project.post.publicPath }` %>">Read More</a>
					</div>
				</article>
			</div>
		<% } ) %>
	</div>
</div>

<div class="content__after"></div>
