<%- include( '../helpers/sorting' ) -%>
<div id="main-content" class="content__main">
	<p class="page-intro">
		I've been a programmer for over a decade working on high traffic properties in the <a href="<%= templateData.site.core.siteUrl %>/about/companies/snopes/">media</a>, <a href="<%= templateData.site.core.siteUrl %>/about/companies/proper-media/">advertising</a>, and <a href="<%= templateData.site.core.siteUrl %>/about/companies/ncsoft/">gaming</a> industries. This is a list of my most memorable projects.</p>
	<div class="project-grid" role="grid">
		<% templateData.projects.forEach( project => { %>
			<% if ( project.meta.projectLink ) { %>
				<% const imgTreatmentClass = project.meta.disableImageTreatments ? 'disable-img-treatment' : '' %>
				<div class="project-grid__item" role="gridcell">
					<%- project.meta.projectLink %>
				</div>
			<% } %>
		<% } ) %>
	</div>
</div>

<div class="content__after"></div>
