<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= templateData.post.title %></title>

<meta name="description" content="<%- templateData.post.description %>">
<meta name="author" content="Chad Ort">
<meta name="robots" content="<%= templateData.site.core.env === 'prod' ? 'index, follow' : 'noindex, nofollow' %>">
<meta name="rating" content="general">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= templateData.post.title %>">
<meta name="twitter:site" content="<%= templateData.site.twitterHandle %>">
<meta name="twitter:description" content="<%- templateData.post.description %>">
<meta property="twitter:image" content="<%= templateData.post.ogImage %>">
<meta name="twitter:image:alt" content="<%= templateData.post.title %>">
<meta property="og:type" content="<%= templateData.post.type && templateData.post.type === 'article' ? 'article' : 'website' %>">
<meta property="og:title" content="<%= templateData.post.title %>">
<meta property="og:url" content="<%= `${ templateData.site.core.siteUrl }/${ templateData.post.publicPath }` %>">
<meta property="og:image" content="<%= templateData.post.ogImage %>">

<script>
	window.site = {};
	window.site.env = '<%= templateData.site.core.env %>';
</script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
