<h4 class="aside-content__title-wrapper">
	<span class="aside-content__title">Blog Posts</span>
</h4>

<div class="aside-content__list">
	<ul class="aside-content__list-ul" role="feed">
		<% templateData.sidebar.forEach( item => { %>
			<li class="aside-content__list-li" role="none">
				<% if ( item.meta.thumb ) { %>
					<%- include( '../../partials/link-default', {
						item,
						classPrefix: 'aside-content__list-',
					} ); %>
				<% } else { %>
					<article class="company-link__item">
						<a class="company-link__a" href="<%= `${ templateData.site.core.siteUrl }/${ item.post.publicPath }` %>">
							<h3 class="company-link__name"><%= item.post.title %></h3>
							<h4 class="company-link__type"><%= item.meta.companyType %></h4>
						</a>

						<div class="company-link__details">
							<p class="company-link__summary"><%= item.post.summary %></p>
							<a class="company-link__cta" href="<%= `${ templateData.site.core.siteUrl }/${ item.post.publicPath }` %>">Read More</a>
						</div>
					</article>
				<% } %>
			</li>
		<% } ); %>
	</ul>
</div>
